{% extends 'user/mainpage/mainpage.html' %}
{% block content %}
    <!-- blog-contents -->
    <div class="col-md-8 col-sm-8 col-xs-12">

        {% if lstentry != None %}
            {% for entry in lstentry %}

                <article class="blog-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/{{ username }}/entry/{{ entry.id }}">
                                <img src="../../../static/user/img/corporate.jpg" class="img-thumbnail center-block"
                                     alt="Blog Post Thumbnail">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <p>
                                in
                                <a href="/{{ username }}">{{ username }}</a>
                                ,
                                <a href="#">templates</a>
                                <time>23-july-2015</time>
                            </p>
                            <h1>
                                <a href="/{{ username }}/entry/{{ entry.id }}">{{ entry.title }}</a>
                            </h1>
                        </div>
                    </div>
                </article> <!-- /.blog-item -->
            {% endfor %}

        {% endif %}




        <div class="page-turn">
            <div class="row">
                <div class="col-md-9 col-md-offset-2 text-center">
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li {% if page == 1 %} class="disabled"  {% endif %}>
                                <a href="/{{ username }}/page/{{ page - 1 }}?limit={{ limit }} " aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            {% for item in range(total_page) %}
                                <li  {% if( (item + 1) == page) %} class="active" {% endif %}>
                                    <a href="/{{ username }}/page/{{ item + 1 }}?limit={{ limit }}">{{ item + 1 }}</a>
                                </li>
                            {% endfor %}

                            <li {% if page | int() == total_page %} class="disabled"  {% endif %}>
                                <a href="/{{ username }}/page/{{ page + 1 }}?limit={{ limit }} " aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul> <!-- /.pagination -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end of blog-contents -->
{% endblock %}