{% extends 'mainpage/mainpage.html' %}

{% block content %}
    <div id="post-wrap" class="content-section fullpage-wrap">
        <div id="home-wrap" class="col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 content-section fullpage-wrap grey-background ">
                <section id="news" class="page">
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left"
                          novalidate="">
                        <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Title <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-11 col-sm-11 col-xs-12">
                                <input type="text" id="first-name" required="required" name="title"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Description <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-11 col-sm-11 col-xs-12">
                                <input type="text" id="description" required="required" name="description"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">Content <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-11 col-sm-11 col-xs-12">
                            <textarea id="txtContent" name="txtContent" required="required"
                                      class="form-control col-md-7 col-xs-12">
                            </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12">Publish</label>
                            <div class="checkbox">
                                <label class="">
                                    <div class="icheckbox_flat-green checked" style="position: relative;"><input
                                            type="checkbox" class="flat" value="1" name="publish" checked="checked"
                                            style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper"
                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                    Publish
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Create date <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <input id="birthday" class="date-picker form-control col-md-7 col-xs-12"
                                       required="required" name="createdate"
                                       type="text" value="">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" type="button" href="/panel/">Cancel</a>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success" formaction="/panel/entry/add"
                                        formmethod="post">Submit
                                </button>
                            </div>
                        </div>

                    </form>
                </section>
            <!--  News Section  -->
            <!--  END News Section  -->


    </div>
{% endblock %}

{% block js_footer %}
    <script src="../../static/common/js/ckeditor/ckeditor.js"></script>

    <script>
        var ckeditor = CKEDITOR.replace('txtContent', {
            customConfig: 'config.js'
        });

    </script>
{% endblock %}