{% extends 'mainpage/mainpage.html' %}

{% block slider %}
    <!--  Slider  -->
    <div id="flexslider" class="fullpage-wrap extrasmall">
        <ul class="slides">
            <li style="background-image:url(../../static/assets/img/service1.jpg)">
                <div class="text text-center">
                    <h1 class="white margin-bottom-small">About Us</h1>
                    <ul class="breadcrumb white">
                        <li><a href="#">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
                <div class="gradient dark"></div>
            </li>
        </ul>
    </div>
    <!--  END Slider  -->

{% endblock %}

{% block content %}
    <div id="post-wrap" class="content-section fullpage-wrap">
        <!--  Modal  add modaal.min.css and modaal.min.js -->
        <div class="row padding-md">
            <div class="col-xs-offset-2 col-xs-6 col-sm-offset-2 col-sm-3">
                <a href="#modaal" class="inline btn-alt small active margin-null">Add New Post</a>
            </div>

        </div>


        <div class="row padding-onlytop-md content-post no-margin">
            <div class="col-md-offset-2 col-md-8 padding-leftright-null">
                <div class="col-md-10">
                    <h2>{{ entry.title }}</h2>
                    <span class="category">Tech</span>
                    <span class="category">Social</span>
                    <span class="date">{{ entry.createdate.strftime('%d-%m-%Y') }}</span>
                    <p class="heading full black left">{{ entry.description }}</p>

                </div>
                <div class="col-md-2">

                    {% if current_user.is_authenticated  == False %}


                        <div class="dropdown">
                            <a href="#" class="btn-alt small active margin-null">Edit</a>
                            <a href="#" class="btn-alt small active margin-null">Delete</a>
                        </div>
                        </div>
                    {% endif %}

            </div>


        </div>
        <div class="col-md-offset-2 col-md-8 padding-leftright-null">
            {{ entry.content | safe }}
        </div>


        <!--  Post Meta  -->
        <div class="row no-margin">
            <div class="col-md-offset-3 col-md-6 padding-leftright-null">
                <div id="post-meta">
                    <ul class="tagCloud">
                        <li class="title">Tags</li>
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                    <span class="author">Written by <em>{{ user.username }}</em></span>
                    <span class="info">Pubblished <em>{{ entry.createdate.strftime('%d-%m-%Y') }}</em></span>
                </div>
            </div>
        </div>
        <!--  END Post Meta  -->
        <!--  Share Btn  -->
        <div id="share">
            <a class="share-btn">
                <i class="material-icons">share</i>
            </a>
            <div class="share-icons" style="display:none">
                <a href="" class="share-google">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="" class="share-twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="" class="share-linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="" class="share-mail">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!--  END Share Btn  -->
        <!--  Comments  -->
        <div class="row no-margin">
            <div class="col-md-offset-3 col-md-6 padding-leftright-null">
                <div id="comments">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab-one" aria-controls="tab-one" role="tab"
                                                                  data-toggle="tab" aria-expanded="true">All
                            comments</a></li>
                        <li role="presentation" class=""><a href="#tab-two" aria-controls="tab-two" role="tab"
                                                            data-toggle="tab" aria-expanded="false">Leave a comment</a>
                        </li>
                    </ul>
                    <!--  Nav Tabs  -->
                    <!-- Tab panes -->
                    <div class="tab-content no-margin-bottom">
                        <div role="tabpanel" class="tab-pane padding-md active" id="tab-one">
                            <div class="comment">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2">
                                        <img src="assets/img/comment1.jpg" alt="">
                                    </div>
                                    <div class="col-xs-9 col-sm-10">
                                        <h3>
                                                        <span class="comment-author">
                                                            Joe Doe
                                                        </span>
                                            <span class="comment-date">
                                                            12 Febbraio, 2016
                                                        </span>
                                            <span class="comment-btn">
                                                            <a href="#">&nbsp;</a>
                                                        </span>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga
                                            corporis sunt voluptate, quia, beatae voluptates est possimus impedit
                                            eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comment reply">
                                <div class="row">
                                    <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                                        <img src="assets/img/comment2.jpg" alt="">
                                    </div>
                                    <div class="col-xs-8 col-sm-8">
                                        <h3>
                                                        <span class="comment-author">
                                                            Alessia Simpson
                                                        </span>
                                            <span class="comment-date">
                                                            12 Febbraio, 2016
                                                        </span>
                                            <span class="comment-btn">
                                                            <a href="#">&nbsp;</a>
                                                        </span>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga
                                            corporis sunt voluptate, quia, beatae voluptates est possimus impedit
                                            eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2">
                                        <img src="assets/img/comment3.jpg" alt="">
                                    </div>
                                    <div class="col-xs-9 col-sm-10">
                                        <h3>
                                                        <span class="comment-author">
                                                            Asia Rossi
                                                        </span>
                                            <span class="comment-date">
                                                            12 Febbraio, 2016
                                                        </span>
                                            <span class="comment-btn">
                                                            <a href="#">&nbsp;</a>
                                                        </span>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga
                                            corporis sunt voluptate, quia, beatae voluptates est possimus impedit
                                            eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane padding-md" id="tab-two">
                            <section class="comment-form">
                                <form id="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-field" name="name" id="name" type="text"
                                                   placeholder="Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-field" name="mail" id="mail" type="text"
                                                   placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-field" name="messageForm" id="messageForm" rows="6"
                                                      placeholder="Your Message"></textarea>
                                            <div class="submit-area">
                                                <input type="submit" id="submit-contact" class="btn-alt" value="Submit">
                                                <div id="msg" class="message"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Comments  -->
    </div>
{% endblock %}