{% extends 'mainpage/mainpage.html' %}
{% block slider %}
    <!--  Slider  -->
    <div id="flexslider" class="fullpage-wrap extrasmall">
        <ul class="slides">
            <li style="background-image:url(../../static/assets/img/service1.jpg)">
                <div class="text text-center">
                    <h1 class="white margin-bottom-small">About Us</h1>
                    <ul class="breadcrumb white">
                        <li><a href="#">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
                <div class="gradient dark"></div>
            </li>
        </ul>
    </div>
    <!--  END Slider  -->

{% endblock %}

{% block content %}
    <div id="post-wrap" class="content-section fullpage-wrap">
        <!--  Modal  add modaal.min.css and modaal.min.js -->
        <div class="text-center">
            <a href="" class="btn btn-default btn-rounded my-3 waves-effect waves-light" data-toggle="modal"
               data-target="#modalLogin">Launch Modal LogIn/Register
                <i class="fa fa-eye ml-1"></i>
            </a>
        </div>


        <div class="row padding-onlytop-md content-post no-margin">
            <div class="col-md-offset-2 col-md-8 padding-leftright-null">
                <div class="col-md-10">
                    <h2>{{ entry.title }}</h2>
                    <span class="category">Tech</span>
                    <span class="category">Social</span>
                    <span class="date">{{ entry.createdate.strftime('%d-%m-%Y') }}</span>
                    <p class="heading full black left">{{ entry.description }}</p>

                </div>
                <div class="col-md-2">

                    {% if current_user.is_authenticated  == False %}


                        <div class="dropdown">
                            <a href="#" class="btn-alt small active margin-null">Edit</a>
                            <a href="#" class="btn-alt small active margin-null">Delete</a>
                        </div>
                        </div>
                    {% endif %}

            </div>


        </div>
        <div class="col-md-offset-2 col-md-8 padding-leftright-null">
            {{ entry.content | safe }}
        </div>


        <!--  Post Meta  -->
        <div class="row no-margin">
            <div class="col-md-offset-3 col-md-6 padding-leftright-null">
                <div id="post-meta">
                    <ul class="tagCloud">
                        <li class="title">Tags</li>
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                    <span class="author">Written by <em>{{ user.username }}</em></span>
                    <span class="info">Pubblished <em>{{ entry.createdate.strftime('%d-%m-%Y') }}</em></span>
                </div>
            </div>
        </div>
        <!--  END Post Meta  -->
        <!--  Share Btn  -->
        <div id="share">
            <a class="share-btn">
                <i class="material-icons">share</i>
            </a>
            <div class="share-icons" style="display:none">
                <a href="" class="share-google">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="" class="share-twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="" class="share-linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="" class="share-mail">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!--  END Share Btn  -->
        <!--  Comments  -->
        <div class="row no-margin">
            <div class="col-md-offset-3 col-md-6 padding-leftright-null">
                <div id="comments">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab-one" aria-controls="tab-one" role="tab"
                                                                  data-toggle="tab" aria-expanded="true">All
                            comments</a></li>
                        <li role="presentation" class=""><a href="#tab-two" aria-controls="tab-two" role="tab"
                                                            data-toggle="tab" aria-expanded="false">Leave a comment</a>
                        </li>
                    </ul>
                    <!--  Nav Tabs  -->
                    <!-- Tab panes -->
                    <div class="tab-content no-margin-bottom">
                        <div role="tabpanel" class="tab-pane padding-md active" id="tab-one">
                            <div class="comment">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2">
                                        <img src="assets/img/comment1.jpg" alt="">
                                    </div>
                                    <div class="col-xs-9 col-sm-10">
                                        <h3>
                                                        <span class="comment-author">
                                                            Joe Doe
                                                        </span>
                                            <span class="comment-date">
                                                            12 Febbraio, 2016
                                                        </span>
                                            <span class="comment-btn">
                                                            <a href="#">&nbsp;</a>
                                                        </span>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga
                                            corporis sunt voluptate, quia, beatae voluptates est possimus impedit
                                            eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comment reply">
                                <div class="row">
                                    <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                                        <img src="assets/img/comment2.jpg" alt="">
                                    </div>
                                    <div class="col-xs-8 col-sm-8">
                                        <h3>
                                                        <span class="comment-author">
                                                            Alessia Simpson
                                                        </span>
                                            <span class="comment-date">
                                                            12 Febbraio, 2016
                                                        </span>
                                            <span class="comment-btn">
                                                            <a href="#">&nbsp;</a>
                                                        </span>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga
                                            corporis sunt voluptate, quia, beatae voluptates est possimus impedit
                                            eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2">
                                        <img src="assets/img/comment3.jpg" alt="">
                                    </div>
                                    <div class="col-xs-9 col-sm-10">
                                        <h3>
                                                        <span class="comment-author">
                                                            Asia Rossi
                                                        </span>
                                            <span class="comment-date">
                                                            12 Febbraio, 2016
                                                        </span>
                                            <span class="comment-btn">
                                                            <a href="#">&nbsp;</a>
                                                        </span>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quo fuga
                                            corporis sunt voluptate, quia, beatae voluptates est possimus impedit
                                            eveniet quaerat nulla sapiente. Omnis odit quas est fuga nam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane padding-md" id="tab-two">
                            <section class="comment-form">
                                <form id="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-field" name="name" id="name" type="text"
                                                   placeholder="Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-field" name="mail" id="mail" type="text"
                                                   placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-field" name="messageForm" id="messageForm" rows="6"
                                                      placeholder="Your Message"></textarea>
                                            <div class="submit-area">
                                                <input type="submit" id="submit-contact" class="btn-alt" value="Submit">
                                                <div id="msg" class="message"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Comments  -->
    </div>
{% endblock %}

{% block modal %}

    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-user"></i> Log in</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="form30" class="form-control">
                        <label for="form30">Your email</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>

                        <textarea name="txtcontent" type="password" id="form31" class="form-control"></textarea>

                        <label for="form31">Your password</label>
                    </div>

                    <div class="text-center mt-2">
                        <button class="btn btn-info">Log in <i class="fa fa-sign-in ml-1"></i></button>
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
{% endblock %}